<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="DSSL - Github" value="https://nuget.pkg.github.com/Digital-Secure-Systems-Limited/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="BlazoriseMyGet" value="https://www.myget.org/F/blazorise/api/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="Digital-Secure-Systems-Limited" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>