@page

@using Microsoft.AspNetCore.Mvc.Localization
@using DSSL.Blog.Localization
@using Volo.Abp.Users

@model DSSL.Blog.Web.Pages.IndexModel

@inject IHtmlLocalizer<BlogResource> L
@inject ICurrentUser _currentUser

@section styles {
<abp-style src="/Pages/Index.css" />
}

@section scripts {
<abp-script src="/Pages/Index.js" />
}
<abp-container>
    <div class="card-deck">
        @foreach (var post in Model.Posts)
        {
                <abp-card class="mb-3">
                    <abp-card-header>
                        <abp-row>
                            <img abp-card-image="Top" src="data:image/jpg;base64,@post.HeaderImage" alt="Image Header for @post.Title" />
                        </abp-row>
                    </abp-card-header>
                    <abp-card-body>
                        <abp-card-title>@post.Title</abp-card-title>
                        <abp-card-text>@post.Message</abp-card-text>
                    </abp-card-body>
                    <abp-card-footer>
                        <abp-card-text class="text-muted">Published on @post.PublishDate</abp-card-text>
                    </abp-card-footer>
                </abp-card>
        }
    </div>
</abp-container>