@page

@using Microsoft.AspNetCore.Mvc.Localization
@using DSSL.Blog.Localization
@using Volo.Abp.Users

@model DSSL.Blog.Web.Pages.IndexModel

@inject IHtmlLocalizer<BlogResource> L
@inject ICurrentUser _currentUser

@section styles {
<abp-style src="/Pages/Index.css" />
}

@section scripts {
<abp-script src="/Pages/Index.js" />
}
<div class="container">
    @foreach (var post in Model.Posts)
    {
        <div class="card mb-3">
            <img class="img-fluid" src="data:image/jpg;base64,@post.HeaderImage" alt="Image Header for @post.Title" />
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <p class="card-text">@post.Message</p>
                <p class="card-text"><small class="text-muted">Published on @post.PublishDate</small></p>
            </div>
        </div>
    }
</div>